main {
    padding-top: 15rem;
}

main .page-contents {
    background-color: #00000000;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

main .page-contents .asset {
    background-color: #f0f8ff;
    border-radius: 30px;
    width: min(85dvw, 750px);
    display: flex;
    flex-direction: column;
    margin: 1.25rem 0;
    padding: 2rem 2rem;
    box-shadow: -2px -2px 2px #0000001a,
        2px 2px 2px #0000001a,
        4px 4px 6px #0000001a,
        -4px -4px 6px #0000001a,
        -2px -2px 6px #0000001a,
        2px 2px 6px #0000001a,
        6px 6px 9px #0000001a,
        -6px -6px 9px #0000001a,
        -10px -10px 10px #0000001a,
        10px 10px 10px #0000001a;
}

main h2 {
    width: min(85dvw, 750px);
    padding-left: 3.75rem;
    padding-top: 1.1rem;
    font-family: Caveat, cursive;
    font-size: 3.5rem;
    line-height: 3rem;
    
}
main h2 .in-progress {
    position: relative;
    padding-left: 2rem;
    font-style: italic;
    bottom: 1.5rem;
}
main .heading-bkg {
    width: min(85dvw, 750px);
    background-image: url("cloud.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-position-x: left;
    height: 8rem;
    color: #00002b;
    margin-bottom: .8rem;

}

main .asset h3 {
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-family: 'Afacad';
    letter-spacing: 0.02rem;
}

.asset p {
    line-height: 1.5em;
}

.asset img {
    max-width: 30rem;
    max-height: 9.375rem;
    margin: .5rem;
}

.splash {
    font-family: Splash;
}
.font-demo {
    font-size: 3rem;
    line-height: 4rem;
}




